<html xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <link rel="shortcut icon" href="/images/icon.png">
    <meta charset='utf-8'>
    <title>Votação API</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <!-- CSS - LOCAL -->
    <link rel="stylesheet" href="/css/main.css">
    <!-- BOOTSTRAP -->
    <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
          integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" rel="stylesheet">

    <!-- COLOCA MASCARA CPF ENQUANTO DIGITA -->
    <script>
        function mascara(i){
            var v = i.value;

            // impede entrar outro caractere que não seja número
            if(isNaN(v[v.length-1])){
                i.value = v.substring(0, v.length-1);
                return;
            }

            i.setAttribute("maxlength", "14");
            if (v.length == 3 || v.length == 7) i.value += ".";
            if (v.length == 11) i.value += "-";

        }
        function carregaCandidatos(){
            document.getElementById("carregaCandidatos").submit();
        }
    </script>

</head>

<body>
<div class="background">
    <div class="login">
        <label style="font-size:3vh; font-family:Arial, Helvetica, sans-serif; margin-bot: 15px;">Digite seus
            dados</label>

        <form action="/votacao" method="post">
            <div class="form-group">
                <!-- INPUTS - mascara(this) -> COLOCA MASCARA CPF -->
                <input class="textbox form-control"
                       id="txtCpfE"
                       maxlength="11"
                       name="CpfEleitor"
                       oninput="mascara(this)"
                       placeholder="CPF Eleitor"
                       type="text">

                <input class="textbox form-control"
                       id="txtNomeE"
                       name="NomeEleitor"
                       placeholder="Nome Eleitor"
                       type="text">

                <!-- SELECT COM TODOS OS CANDIDATOS -->
                <select name="IdCandidato" Value ="${candidato.IdCandidato}" style="font-size: 2.5vh; margin-top: 3%; width: 100%; height: 5vh; border-radius: 8px;">
                    <option selected="selected" Value="0">Selecione o candidato</option>
                    <option th:each="candidato : ${candidatos}"
                            th:text="${candidato.NomeCandidato}"
                            th:value="${candidato.IdCandidato}">
                    </option>
                </select>
            </div>
            <button class="botaoconfirmar btn btn-success" name="btn" type="submit" value="Inserir">VOTAR</button>
            <button class="botaovoltar btn btn-warning" name="btn" type="submit" value="Voltar">VOLTAR</button>
        </form>
    </div>
</div>

</body>